[submodule "src/thirdpartyplugins/betterPlusReacts"]
	path = src/thirdpartyplugins/betterPlusReacts
	url = https://github.com/Masterjoona/vc-betterplusreacts
[submodule "src/thirdpartyplugins/triggerWarning"]
	path = src/thirdpartyplugins/triggerWarning
	url = https://github.com/Masterjoona/vc-triggerwarning
[submodule "src/thirdpartyplugins/themeLibrary"]
	path = src/thirdpartyplugins/themeLibrary
	url = https://github.com/Faf4a/ThemeLibrary
[submodule "src/thirdpartyplugins/vcNarrator-custom"]
	path = src/thirdpartyplugins/vcNarrator-custom
	url = https://github.com/nyakowint/vcNarrator-custom
[submodule "src/thirdpartyplugins/timelessClips"]
	path = src/thirdpartyplugins/timelessClips
	url = https://github.com/Masterjoona/vc-timelessclips
[submodule "src/thirdpartyplugins/goodPerson"]
	path = src/thirdpartyplugins/goodPerson
	url = https://git.nin0.dev/userplugins/vc-goodperson/
[submodule "src/thirdpartyplugins/betterActivities"]
	path = src/thirdpartyplugins/betterActivities
	url = https://github.com/D3SOX/vc-betterActivities
[submodule "src/thirdpartyplugins/mediaPlaybackSpeed"]
	path = src/thirdpartyplugins/mediaPlaybackSpeed
	url = https://github.com/D3SOX/vc-mediaPlaybackSpeed
[submodule "src/thirdpartyplugins/notifyUserChanges"]
	path = src/thirdpartyplugins/notifyUserChanges
	url = https://github.com/D3SOX/vc-notifyUserChanges
[submodule "src/thirdpartyplugins/blockKrisp"]
	path = src/thirdpartyplugins/blockKrisp
	url = https://github.com/D3SOX/vc-blockKrisp
[submodule "src/thirdpartyplugins/serverProfilesToolbox"]
	path = src/thirdpartyplugins/serverProfilesToolbox
	url = https://github.com/D3SOX/vc-serverProfilesToolbox
[submodule "src/thirdpartyplugins/silentTypingEnhanced"]
	path = src/thirdpartyplugins/silentTypingEnhanced
	url = https://github.com/D3SOX/vc-silentTypingEnhanced
[submodule "src/thirdpartyplugins/followUser"]
	path = src/thirdpartyplugins/followUser
	url = https://github.com/D3SOX/vc-followUser
[submodule "src/thirdpartyplugins/voiceChatUtilities"]
	path = src/thirdpartyplugins/voiceChatUtilities
	url = https://github.com/Sqaaakoi/vc-voiceChatUtilities
	branch = contrib
[submodule "src/thirdpartyplugins/multistickers"]
	path = src/thirdpartyplugins/multistickers
	url = https://github.com/voidfill/multistickers
[submodule "src/thirdpartyplugins/newPluginsManager"]
	path = src/thirdpartyplugins/newPluginsManager
	url = https://github.com/Sqaaakoi/vc-newPluginsManager
[submodule "src/thirdpartyplugins/steamStatusSync"]
	path = src/thirdpartyplugins/steamStatusSync
	url = https://github.com/hauntii/vencord-steamStatusSync
[submodule "src/thirdpartyplugins/loginWithQR"]
	path = src/thirdpartyplugins/loginWithQR
	url = https://github.com/nexpid/LoginWithQR
[submodule "src/thirdpartyplugins/musicTitleRPC"]
	path = src/thirdpartyplugins/musicTitleRPC
	url = https://github.com/Blackilykat/musicTitleRPC
[submodule "src/thirdpartyplugins/wigglyText"]
	path = src/thirdpartyplugins/wigglyText
	url = https://github.com/nexpid/WigglyText
[submodule "src/thirdpartyplugins/friendCodes"]
	path = src/thirdpartyplugins/friendCodes
	url = https://github.com/Domis-Vencord-Plugins/FriendCodes
[submodule "src/thirdpartyplugins/inRole"]
	path = src/thirdpartyplugins/inRole
	url = https://git.nin0.dev/userplugins/in-role
[submodule "src/thirdpartyplugins/keyboardSounds"]
	path = src/thirdpartyplugins/keyboardSounds
	url = https://github.com/Domis-Vencord-Plugins/KeyboardSounds
[submodule "src/thirdpartyplugins/unreadCountBadge"]
	path = src/thirdpartyplugins/unreadCountBadge
	url = https://github.com/Masterjoona/vc-unreadcountbadge
[submodule "src/thirdpartyplugins/jumpscare"]
	path = src/thirdpartyplugins/jumpscare
	url = https://github.com/chloecinders/VencordJumpscare
[submodule "src/thirdpartyplugins/messageColors"]
	path = src/thirdpartyplugins/messageColors
	url = https://github.com/henmalib/vc-messageColors
[submodule "src/thirdpartyplugins/emojiOnMouseUp"]
	path = src/thirdpartyplugins/emojiOnMouseUp
	url = https://github.com/sadan4/emojiOnMouseUp
[submodule "src/thirdpartyplugins/bigFileUpload"]
	path = src/thirdpartyplugins/bigFileUpload
	url = https://github.com/ScattrdBlade/bigFileUpload
[submodule "src/thirdpartyplugins/ctrlEnterSave"]
	path = src/thirdpartyplugins/ctrlEnterSave
	url = https://github.com/sadan4/vc-ctrlEnterSave
[submodule "src/thirdpartyplugins/keywordNotify"]
	path = src/thirdpartyplugins/keywordNotify
	url = https://github.com/x3rt/vencord-KeywordNotify
[submodule "src/thirdpartyplugins/videoStartNotifier"]
	path = src/thirdpartyplugins/videoStartNotifier
	url = https://github.com/redbaron2k7/videoStartNotifier
[submodule "src/thirdpartyplugins/neverPausePreviews"]
	path = src/thirdpartyplugins/neverPausePreviews
	url = https://github.com/RattletraPM/NeverPausePreviews
[submodule "src/thirdpartyplugins/exitSounds"]
	path = src/thirdpartyplugins/exitSounds
	url = https://github.com/hauntii/vencord-ExitSounds
[submodule "src/thirdpartyplugins/junkCleanup"]
	path = src/thirdpartyplugins/junkCleanup
	url = https://github.com/Sqaaakoi/vc-junkCleanup
[submodule "src/thirdpartyplugins/rpcEditor"]
	path = src/thirdpartyplugins/rpcEditor
	url = https://git.nin0.dev/userplugins/rpc-editor
[submodule "src/thirdpartyplugins/copyStatusUrls"]
	path = src/thirdpartyplugins/copyStatusUrls
	url = https://github.com/sadan4/vc-copyStatusUrls
[submodule "src/thirdpartyplugins/sortReactions"]
	path = src/thirdpartyplugins/sortReactions
	url = https://github.com/HAHALOSAH/SortReactions
[submodule "src/thirdpartyplugins/moreReact"]
	path = src/thirdpartyplugins/moreReact
	url = https://github.com/coldcord/moreReact
[submodule "src/thirdpartyplugins/whosWatching"]
	path = src/thirdpartyplugins/whosWatching
	url = https://github.com/fres621/vencord-whos-watching
[submodule "src/thirdpartyplugins/sidebarChat"]
	path = src/thirdpartyplugins/sidebarChat
	url = https://github.com/Masterjoona/vc-sidebarchat
[submodule "src/thirdpartyplugins/userFlags"]
	path = src/thirdpartyplugins/userFlags
	url = https://git.nin0.dev/userplugins/userflags
[submodule "src/thirdpartyplugins/venfetch"]
	path = src/thirdpartyplugins/venfetch
	url = https://git.nin0.dev/userplugins/venfetch
[submodule "src/thirdpartyplugins/fart"]
	path = src/thirdpartyplugins/fart
	url = https://git.nin0.dev/duke/fart
[submodule "src/thirdpartyplugins/ventex"]
	path = src/thirdpartyplugins/ventex
	url = https://github.com/vgskye/ventex
[submodule "src/thirdpartyplugins/categoryCloner"]
	path = src/thirdpartyplugins/categoryCloner
	url = https://github.com/mafineeek/vencord-category-cloner
[submodule "src/thirdpartyplugins/randomGary"]
	path = src/thirdpartyplugins/randomGary
	url = https://github.com/Zach11111/randomGary
[submodule "src/thirdpartyplugins/collapseChatButtons"]
	path = src/thirdpartyplugins/collapseChatButtons
	url = https://github.com/coldcord/collapseChatButtons
[submodule "src/thirdpartyplugins/vcPanelSettings"]
	path = src/thirdpartyplugins/vcPanelSettings
	url = https://git.nin0.dev/userplugins/vcPanelSettings
[submodule "src/thirdpartyplugins/betterSpotifyCard"]
	path = src/thirdpartyplugins/betterSpotifyCard
	url = https://git.nin0.dev/userplugins/betterSpotifyCard
[submodule "src/thirdpartyplugins/animalese"]
	path = src/thirdpartyplugins/animalese
	url = https://github.com/ryawaa/vencord-animalese
[submodule "src/thirdpartyplugins/shyTyping"]
	path = src/thirdpartyplugins/shyTyping
	url = https://git.nin0.dev/Sqaaakoi-VencordUserPlugins/shyTyping
[submodule "src/thirdpartyplugins/holyNotes"]
	path = src/thirdpartyplugins/holyNotes
	url = https://github.com/WolfPlugs/HolyNotes-VC
[submodule "src/thirdpartyplugins/writeUpperCase"]
	path = src/thirdpartyplugins/writeUpperCase
	url = https://github.com/KrstlSkll69/WriteUpperCase
[submodule "src/thirdpartyplugins/antiRickroll"]
	path = src/thirdpartyplugins/antiRickroll
	url = https://github.com/ryawaa/vencord-antirickroll
[submodule "src/thirdpartyplugins/atSomeone"]
	path = src/thirdpartyplugins/atSomeone
	url = https://github.com/Masterjoona/vc-atsomeone
[submodule "src/thirdpartyplugins/devtoolsInPopouts"]
	path = src/thirdpartyplugins/devtoolsInPopouts
	url = https://github.com/sadan4/vc-devtoolsInPopouts
[submodule "src/thirdpartyplugins/sillyMaxwell"]
	path = src/thirdpartyplugins/sillyMaxwell
	url = https://github.com/1337isnot1337/sillyMaxwell
[submodule "src/thirdpartyplugins/componentDemangler"]
	path = src/thirdpartyplugins/componentDemangler
	url = https://github.com/sadan4/vc-componentDemangler
[submodule "src/thirdpartyplugins/soundTriggers"]
	path = src/thirdpartyplugins/soundTriggers
	url = https://github.com/777Vincent/SoundTriggers
[submodule "src/thirdpartyplugins/forceRoleColor"]
	path = src/thirdpartyplugins/forceRoleColor
	url = https://github.com/surgedevs/ForceRoleColor
[submodule "src/thirdpartyplugins/betterForwardMeta"]
	path = src/thirdpartyplugins/betterForwardMeta
	url = https://git.nin0.dev/userplugins/betterForwardMeta
[submodule "src/thirdpartyplugins/signature"]
	path = src/thirdpartyplugins/signature
	url = https://github.com/KrstlSkll69/Signature
[submodule "src/thirdpartyplugins/betterForums"]
	path = src/thirdpartyplugins/betterForums
	url = https://github.com/Davr1/vc-betterForums
[submodule "src/thirdpartyplugins/vc-message-logger-enhanced"]
	path = src/thirdpartyplugins/vc-message-logger-enhanced
	url = https://github.com/Syncxv/vc-message-logger-enhanced.git
